<!-- <%= form_with(model: [ @account, @account.comments.build ], local: true) do |form| %>
  <div>
    <%= form.text_field :text, autofocus: true, placeholder: 'Comment' %>
  </div>

  <div>
    <%= form.submit "Join Round" %>
  </div>
<% end %> -->

<%= form_tag account_comments_path do %>
  <% @comment_group.each do |comment| %>
    <%= fields_for 'comment_group[]', comment do |p| %>

      <div class="field">
        <%= p.text_field :text, autofocus: true %>
      </div>

    <% end %>
  <% end %>
  <div class="actions">
    <%= submit_tag "Join Round" %>
  </div>
<% end %>
