<div class="round-show-content">

  <p>
    Like and comment on the latest post by the users below.
  </p>

  <div>
    <%= pluralize(@round.matches.count, "match") %><br /><br />
  </div>


  <% @round.matches.each_with_index do |account, i| %>
    <div class="row-container">
      <div class="box-left">
        <%= link_to "#{account.username}", "https://www#com/#{account.username}", :target => "_blank" %>
      </div>
      <% if account.comments[i] != nil %>
        <div class="box-right comment-copy-<%= i %>">
          <button class="clipboard-btn" data-clipboard-action="copy" data-clipboard-target=".comment-copy-<%= i %>">
            <i class="far fa-copy"></i>
          </button>
          <%= account.comments[i].text %>
        </div>
      <% else %>
        <div class="box-right">
          <%= "x" %>
        </div>
      <% end %>
    </div>
  <% end %>

</div>
