<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  </head>
  <body>
    <%= render 'layouts/header' %>

    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>

      <div class="center jumbotron" style="position:relative">

        <div id="counter-container">
          round begins in
          <div id="counter"></div>
        </div>
        <%= raw check_or_x %>

        <%= yield %>

        <%= javascript_pack_tag 'hello_react' %>

      </div>

      <%= render 'layouts/footer' %>
    </div>
  </body>
  <%= debug(params) if Rails.env.development? %>
</html>
