<%= form_with model: @account, local: true do |f| %>

  <% if @account.errors %>
    <div id="error_explanation">
      <ul>
        <% @account.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :username, autofocus: true, placeholder: 'Username' %>
  </div>

  <div class="field">
    <%= f.select :match_amount, [ 1, 2, 3, 4, 5 ], prompt: 'Karma' %>
  </div>

  <div class="actions">
    <%= f.submit "Next" %>
  </div>

<% end %>
