<%= form_with model: @account, local: true do |f| %>

  <% if @account.errors %>
    <div id="error_explanation">
      <ul>
        <% @account.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :username, placeholder: 'Username' %>
  </div>

  <%= link_to 'Back', account_path(@account), id: "leave-round"%>

  <div class="actions on-side">
    <%= f.submit "Save" %>
  </div>

<% end %>
