<div id="wait-text">
  You're in. Wait here.
</div>

<div class="heading">
  Username <span><%= link_to 'Edit', edit_account_path %></span>
</div>

<div id="username"><%= @account.username %></div>

<% if @account.comments.count == 0 %>
  <%= link_to 'Add Comments', new_account_comment_path(@account, @account.comments) %>
<% end %>

<% if @account.comments.count > 0 %>
  <div class="heading">
    Comments
    <span>
      <%= link_to 'Edit', edit_account_comment_path(@account, @account.comments) %>
    </span>
  </div>
  <% @account.comments.each_with_index do |comment, i| %>
  <span><%= i + 1 %>.</span>
    <div class="comment-text">
      <%= comment.text %>
    </div>
  <% end %>
<% end %>

<div class="leave-link">
  <%= link_to 'Leave Round', account_path, method: :delete, data: { confirm: 'Are you sure you wish to leave this round?' }, id: "leave-round"%>
</div>


<!--
<%= link_to 'Enter Round (Temp)', round_path(@account.round), class: "enter-round" %> -->
