<div>
  Username <span><%= link_to 'Edit', edit_account_path %></span>
</div>
<h3><%= @account.username %></h3>
<br /><br />

<div>
  Comments
</div>
<% if @account.comments %>
  <% @account.comments.each do |comment| %>
    <small><%= comment.text %></small><%= link_to 'Edit', edit_account_comment_path(@account, comment) %><br />
  <% end %>
<% end %>


<br /><br />
<%= link_to 'Leave Round', account_path, method: :delete, data: { confirm: 'Are you sure you wish to leave this round?' } %><br />
<%= link_to 'Enter Round (Temp)', round_path(@account.round) %><br />
<%= params.inspect %>
