<div id="wait-text">
  <i class="fa fa-users" aria-hidden="true"></i> You are entered
</div>

<div class="heading">
  Username <span><%= link_to 'Edit', edit_account_path %></span>
</div>

<div id="username"><%= @account.username %></div>

<% if @account.comments.count == 0 %>
  <%= link_to 'Add Comments', new_account_comment_path(@account, @account.comments) %>
<% end %>

<% if @account.comments.count > 0 %>
  <div class="heading">
    Comments
    <span>
      <%= link_to 'Edit', edit_account_comment_path(@account, 'current') %>
    </span>
  </div>
  <% count = 1 %>
  <% @account.comments.each do |comment| %>
    <% if comment.text != "" %>
      <div class="comment-text">
        <span><%= count %>.</span>
        <%= comment.text %>
      </div>
      <% count += 1 %>
    <% end %>
  <% end %>
<% end %>

<div class="leave-link">
  <%= link_to 'Leave Round', account_path, method: :delete, data: { confirm: 'Are you sure you wish to leave this round?' }, id: "leave-round"%>
</div>
