<p>
  Your <%= @account.website %> username:
</p>
<h3><%= @account.username %></h3>

<%= link_to 'Edit', edit_account_path %> |
<%= link_to 'Leave', account_path, method: :delete, data: { confirm: 'Are you sure you wish to leave this round?' } %>

<p>
  Round begins in
</p>
<!-- <p>
  Like and comment on the latest post by the following users
</p>

usernames:
<% @account.round.account_names[0].each do |name| %>
  <div>
    <%= name %>
  </div>
<% end %> -->
