<div>
  <%= @account.username %>
</div>

<h2>Comments</h2>
<%= render @account.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>



<h1><%= @account.site %></h1>
<div>
  <% @account.round.account_names[@account.id].each do |name| %>
    <%= name %>
  <% end %>
</div>
